* {
	box-sizing: border-box;
}

h1 {
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 3rem;
	text-transform: uppercase;
}

.container {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
}

p {
	margin-bottom: 30px;
}